aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.7.2
attrs==24.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
coreapi==2.3.3
coreschema==0.0.4
distlib==0.3.7
distro==1.9.0
Django==4.2.7
django-cors-headers==4.3.1
django-filter==23.4
django-rest-swagger==2.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
filelock==3.13.1
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.6
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.3
jiter==0.8.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.13
langchain-core==0.3.28
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
langsmith==0.2.7
MarkupSafe==2.1.5
multidict==6.1.0
mysqlclient==2.2.0
numpy @ file:///private/tmp/numpy-20240206-5894-1wazl8/numpy-1.26.4
openai==1.58.1
openapi-codec==1.3.2
orjson==3.10.13
packaging==23.2
platformdirs==4.0.0
propcache==0.2.1
pydantic==2.10.4
pydantic_core==2.27.2
PyJWT==2.8.0
PyMySQL==1.1.0
pytz==2023.3.post1
PyYAML==6.0.1
regex==2024.11.6
requests==2.31.0
requests-toolbelt==1.0.0
simplejson==3.19.2
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlparse==0.4.4
tenacity==9.0.0
tiktoken==0.8.0
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.0
virtualenv==20.25.0
yarl==1.18.3
